<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Register</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/show">Show</a>
    <a href="/delete">Delete</a>
    <a href="/authenticated">Authenticade Page</a>

    <form class="container" action="/register_s" method="post">
      <div>
        <p>Username:</p>
        <input type="text" name="username" autofocus />
      </div>
      <div>
        <p>Password:</p>

        <input type="text" name="password" id="" />
      </div>
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
