<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Successful register ✅</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/show">Show</a>
    <a href="/delete">Delete</a>
    <a href="/authenticated">Authenticade Page</a>

    <h1>Successful register ✅</h1>
  </body>
</html>
